body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

form {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

section {
  margin: 20px;
}

ons-button:hover {
  background-color: #1565c0;
}

.toast {
  background-color: red !important; /* Set background to black */
  color: white !important; /* Set text color to white */
}

.toast__message {
  color: inherit !important; /* Ensure the text color inherits from the parent element */
}
